.button {
  border: .5px solid var(--primary-color);
  padding: 5px 10px;
  color: var(--primary-color);
  font-weight: bold;
  cursor: pointer;
  background-color: transparent;
  transition: 0.2s;
  box-shadow: 0px 30px 60px rgba(141, 139, 139, 0.2);
}

.button:hover {
  background-color: var(--primary-color);
  color: var(--white);
}