
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.search {
  width: 48px;
  height: 48px;
  display: flex;
  background-color: #fff;
  border-radius: 60px;
  transition: 0.5s;
  overflow: hidden;
  align-items: center;
  margin: 30px 0;
  cursor: pointer;
  box-shadow: 0px 30px 60px rgba(141, 139, 139, 0.2);
}

.search.active {
  width: 400px;
  padding: 0 20px;
}

.input {
  flex-grow: 1;
  display: none;
}

.container__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 48px;
  height: 48px;
}
.combobox {
  width:20%;
  display: none;
}

.search.active .input,
.search.active .combobox {
  display: flex;
  outline-color: transparent;
  border: none;
}
